@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
$yanone: 'Yanone Kaffeesatz', sans-serif;
$menu-width: 35px;
$fixed-z-index: 10;
$section-height: 90vh;
$nav-height: 10vh;

* {
    margin: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    font-family: $yanone;
    z-index: $fixed-z-index;
    border-bottom: 3px solid #000;

    ul {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;
        li {
            margin: 2rem auto;
            font-size: 3.5rem;
            cursor: pointer;
            font-weight: bolder;

            &:hover {
                color: #c71414;
            }
        }
    }

    // .hide-menu {
    //     display: none;
    // }
}

.sections {

    section {
        height: $section-height;

        &:first-child {
            margin-top: $nav-height;
        }
        // &:nth-child(odd) {
        //     background-color: aqua;
        // }
    }

    #main-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
            margin: 3rem auto;
            margin-bottom: 0;
            width: 10em;

            &:hover {
                transform: scale(1.2);
            }
        }

        h1 {
            font-size: 4em;
            margin: 1.5em auto;
            // margin-left: 2.5em;
            width: 70%;
            font-family: $yanone;
    
            &::before {
                content: "Ericsson Tsao";
                color: #c71414;
                border-bottom: 5px solid #c71414;
                // border-color: linear-gradient(90deg, rgb(184, 202, 187));
                display: block;
                margin-bottom: 25px;
                font-size: 3em;
            }
        }
    }

    #about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        font-size: 36px;

        h1 {
            margin: 10px;
            font-weight: bolder;
        }

        img {
            margin: 15px;
        }
    }

    #projects {

        h1 {
            text-align:center;
            font-weight: bolder;
            font-size: 5rem;
            margin: 3rem auto;
        }

        .slideshow-container {
            max-width: 30%;
            min-width: 487px;
            position: relative;
            margin: 1em auto;
          }
          
          /* Hide the images by default */
          .mySlides {
            display: none;
          }
          
          /* Next & previous buttons */
          .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
          }
          
          /* Position the "next button" to the right */
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          
          /* On hover, add a black background color with a little bit see-through */
          .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
          
          /* Caption text */
          .text {
            color: #000;
            font-size: 15px;
            padding: 8px 12px;
            // position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }
          
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          
          /* The dots/bullets/indicators */
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          
          .active, .dot:hover {
            background-color: #717171;
          }
          
          /* Fading animation */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
          }
          
          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
          
          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
    }

    #contacts {
        height: 30vh;
        .social-media {
            display: flex;
            width:70%;
            margin: auto;
            list-style-type: none;
            padding: 0;
            justify-content: space-around;

            a {
                cursor: pointer;
            }

            img {
                width: 4em;
            }
        }

        p {
            text-align: center;
            margin: 2.2em auto;
            font-size: 1.8rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    nav {
        position: fixed;
        z-index: $fixed-z-index;
        top: 0;
        width: 100%;
        height: $nav-height;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-bottom: 3px solid #000;
        background: #fff;

        img {
            width: 2.5rem;
        }
    }

    header {
        position: fixed;
        top: 10vh;
        background-color: #fff;
        width: 100%;
        font-family: $yanone;
        z-index: $fixed-z-index;
        border-bottom: 3px solid #000;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            justify-content: flex-start;
            padding: 0;
            li {
                margin: 5px auto;
                font-size: 2.5rem;
            }
        }

        .hide-menu {
            display: none;
        }
    }

    .sections {

        section {
            height: $section-height;

            &:first-child {
                margin-top: $nav-height;
            }
            // &:nth-child(odd) {
            //     background-color: aqua;
            // }
        }

        #main-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img {
                margin: 15px auto;
                width: 8em;
            }

            h1 {
                font-size: 1.1em;
                padding: 2rem;
                width: 100%;
                font-family: $yanone;
        
                &::before {
                    content: "Ericsson Tsao";
                    color: #c71414;
                    border-bottom: 5px solid #c71414;
                    display: block;
                    margin-bottom: 25px;
                    font-size: 3em;
                }
            }
        }

        #about {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            font-size: 16px;

            h1 {
                margin: 10px;
                font-weight: bolder;
            }

            img {
                margin: 15px;
            }
        }

        #projects {

            h1 {
                text-align:center;
                font-weight: bolder;
                margin: 20px auto;
                font-size: 24px;
            }

            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: 1em auto;
                min-width: 100px;
              }
              
              /* Hide the images by default */
              .mySlides {
                display: none;
              }
              
              /* Next & previous buttons */
              .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
              }
              
              /* Position the "next button" to the right */
              .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
              
              /* On hover, add a black background color with a little bit see-through */
              .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
              }
              
              /* Caption text */
              .text {
                color: #000;
                font-size: 15px;
                padding: 8px 12px;
                // position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
              }
              
              /* Number text (1/3 etc) */
              .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
              }
              
              /* The dots/bullets/indicators */
              .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
              }
              
              .active, .dot:hover {
                background-color: #717171;
              }
              
              /* Fading animation */
              .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
              }
              
              @-webkit-keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
              }
              
              @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
              }
        }

        #contacts {
            height: 30vh;
            .social-media {
                display: flex;
                width:70%;
                margin: auto;
                list-style-type: none;
                padding: 0;
                justify-content: space-around;
    
                a {
                    cursor: pointer;
                }
    
                img {
                    width: 40px;
                }
            }

            p {
                text-align: center;
                margin: 20px auto;
            }
        }
    }
}




@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}