html, body {
    margin: 0;

    a {
        text-decoration: none;
    }
}

header {
    padding: 2em;

    .menu-btn {
        width: 50px;
        float: right;
        cursor: pointer;
    }

    .logo {
        width: 8vw;
        min-width: 65p;
    }
}

section {
    padding: 4em;

    h1 {
        font-size: 4em;
        margin: 1em auto;
        width: 70%;

        &::before {
            content: " ";
            border-top: 5px solid #f00;
            display: block;
        }
    }
}

nav {
    position: absolute;
    background: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 50px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 80%;

        li {
            opacity: 0;
        }

        a {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: gray;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }
    }
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}

footer {
    text-align: center;

    .social-media {
        display: flex;
        width: 50%;
        margin: auto;
        list-style-type: none;
        padding: 0;
        justify-content: space-around;

        a {
            cursor: pointer;
        }

        img {
            width: 60px;
        }

        p {
            position: relative;
            bottom: 0;
        }
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        ul {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            width: 90%;
        }

        li {
            margin: 10px;
        }

        
        .close-btn {
            width: 20px;
        }
    }

    header {
        .menu-btn {
            width: 20px;
        }
    }

    section {
        h1 {
            font-size: 1.8em;
            width: 100%;
            margin: auto;
        }
    }

    footer {
        text-align: center;

        .social-media {
            display: flex;
            width:70%;
            margin: auto;
            list-style-type: none;
            padding: 0;
            justify-content: space-around;

            a {
                cursor: pointer;
            }

            img {
                width: 40px;
            }
        }
    }
}